# IntelliJ
.idea/
*.iml

# Javascript compiled files
beakerx_widgets/js/css
beakerx_widgets/js/dist
beakerx_widgets/js/lib

# Karma tests coverage
beakerx_widgets/js/coverage

# JS bundles
beakerx_widgets/beakerx/static
beakerx_widgets/beakerx/labextension

# Node modules
beakerx_widgets/js/node_modules

yarn-error.log

# Python
*.py[cod]
__pycache__/
*.egg-info

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*Untitled*.ipynb

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat
/build/
*/build/

# conda
dist

