# IntelliJ
.idea/
.iml

# Jupyter
.ipynb_checkpoints/

# Gradle
.gradle/
gradle*
/build/
*/build/

*.egg-info/

dist/


# Beaker
VERSION
beakerx/static/
beakerx/beakerx/static/
beakerx/beakerx_databrowser/static/
beakerx/beakerx/kernel/
beakerx/beakerx/javadoc/
beakerx/record.txt